/* Default Styling  */
body {
    background-color: #202020;
    color: white;
}

/* Styling nav bar  */
.navbar {
    background-color: #353535 !important;
}

.app-title, .app-title:hover {
    color: white;
}

.nav-link, #icon, .navbar-toggler i {
    color: #a4a4a4;
}

.nav-link:hover, #icon:hover, .navbar-toggler i:hover {
    color: white;
}

/* Styling footer  */
footer, footer div, footer div p {
    background-color: #353535;
}

/* Styling terminal  */
main #about .right .terminal {
    background-color: #353535;
}

/* Styling stack items */
.stack .stack-item {
    background-color: #353535;
    box-shadow: 0 0 10px 5px rgba(180, 180, 180, 0.2); 
    border: 1px solid rgba(180, 180, 180, 0.2);
}


.stack .stack-item a, .stack .stack-item a:visited {
    color: #54a5ec;
    border: 1px solid #54a5ec;
    background-color: #353535;
}

.stack .stack-item a:hover {
    color: #353535;
    border: 1px solid #353535;
    background-color: #54a5ec;
}

/* Styling connect */
.row-bottom ul li a {
    color: white;
    border: 1px solid #202020;
    background-color: #202020;
}

.row-bottom ul li a:hover {
    background-color: #353535;
}