/* Default Styling  */
body {
    background-color: #eeeeee;
    color: #202020;
}

/* Styling nav bar  */
.navbar {
    background-color: white !important;
}

.app-title {
    color: #202020;
}

.nav-link, #icon, .navbar-toggler i {
    color: #5c5c5c;
}

.nav-link:hover, #icon:hover, .navbar-toggler i:hover {
    color: #202020;
    transform: scale(1.05);
}

/* Styling footer  */
footer, footer div, footer div p {
    background-color: white;
}

/* Styling stack items */
.stack .stack-item, main #connect {
    background-color: white;
    box-shadow: 0 0 20px 5px rgba(67, 67, 67, 0.2); 
    border: 1px solid rgba(67, 67, 67, 0.2);
}

.stack .stack-item a, .stack .stack-item a:visited {
    color: #54a5ec;
    border: 1px solid #54a5ec;
    background-color: white;
}

.stack .stack-item a:hover {
    color: white;
    border: 1px solid white;
    background-color: #54a5ec;
}

/* Styling connect */
.row-bottom ul li a {
    color: #202020;
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
}

.row-bottom ul li a:hover {
    background-color: white;
}