/* Default Styling  */
* { 
    font-family: 'inter', 'helvetica';
    font-size: 18px;
    transition: all 0.3s ease;
}

i {
    font-size: 22px;
} 

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    width: 100%;
    text-align: left;
}

/* Styling navbar */
.app-title {
    font-weight: bolder;
}

.nav-link, #icon {
    font-weight: bold;
}

.nav-link:hover, #icon:hover {
    font-weight: bolder;
    transform: scale(1.05);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus, .navbar-toggler:active {
    box-shadow: none;
}

/* Styling footer  */
footer, footer div {
    width: 100%;
}

footer div p {
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    margin: 0;
    padding: 5px;
}

/* Styling of main section  */
main .sub-div {
    scroll-margin-top: 80px;
    width: 100%;
    height: 100vh;
}

/* Styling of about section  */
main #about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
}

main #about .left, main #about .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

main #about .left {
    height: calc(100% - 100px);
    gap: 5px;
    flex-direction: column;
}

main #about .left h1, main #about .left h3, main #about .left p {
    padding-left: 80px;
    margin-bottom: 10px;
}

main #about .left h1 {
    font-size: 60px;
}

main #about .left h3 {
    font-size: 30px;
}

/* Styling terminal */
main #about .right .terminal {
    width: 50%;
    height: 50%;
    margin-top: -100px;
    border-radius: 20px;
}

main #about .right .terminal .btn-grid {
    width: 100%;
    height: 30px;
    display: flex;
    margin: 5px;
    padding: 5px;
    gap: 5px;
}

main #about .right .terminal .btn-grid div {
    border-radius: 10px;
    height: 15px;
    width: 15px;
}

main #about .right .terminal .btn-grid div:hover {
    filter: brightness(0.8);
}

main #about .right .terminal .btn-grid .red {
    background-color: #ec6765;
}

main #about .right .terminal .btn-grid .yellow {
    background-color: #f2c944;
}

main #about .right .terminal .btn-grid .green {
    background-color: #65c467;
}

main #about .right .terminal .text-appear {
    font-family: 'jetbrains mono';
    font-size: 16px;
    white-space: pre-wrap;
    margin-top: 50px;
    margin-left: 20px;
}

/* Styling skills & projects & connect */
main #skills, main #projects, main #connect {
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, auto);
    margin-bottom: 50px;
}

/* Styling skill and project cards */
.row-top h2 {
    width: 100%;
    font-size: 45px;
    text-align: center;
}

.stack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, auto);
    place-items: center;
}

.stack .stack-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: calc(70% - 10px);
    height: calc(100% - 30px);
    padding: 20px;
    margin: 10px;
}

.stack .stack-item:hover {
    cursor: pointer;
    transform: translateY(-5px); 
}

.stack .stack-item img {
    width: 40px;
    height: auto;
    font-weight: bolder;
}

.stack .stack-item h5 {
    margin-top: 10px;
    text-align: center;
}

.stack .stack-item p {
    font-size: 16px;
    margin-top: 20px;
}

.stack .stack-item ul {
    display: flex;
    list-style: none;
    margin: 5px;
    padding: 0;
}

.stack .stack-item ul li {
    margin-left: 5px;
    margin-right: 5px;
}

.stack .stack-item ul li img {
    filter: grayscale(100%);
    width: 30px;
    height: auto;
}

.stack .stack-item a {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    width: 80%;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
}


/* Media queries  */
@media screen and (max-width: 990px) {
    main .sub-div {
        margin-top: 80px;
        height: auto;
    }

    main #about {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    main #about .left h1, main #about .left h3, main #about .left p {
        padding-left: 50px;
        padding-right: 50px;
    }

    main #about .right .terminal {
        margin: 0;
        width: 80%;
        height: 300px;
    }

    .stack {
        grid-template-columns: repeat(2, 1fr);
    }

    .stack .stack-item {
        width: calc(100% - 20px);
    }
}